.contentTitle{
  h1{
    color: white;
    margin: 20px 40px;
    font-family: poppins;
  }
}
.card-container {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 300px;
    margin: 0 40px;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    .card-title{
      font-size: 20px;
      color: yellow;
      font-weight: 600;
      margin-bottom: 10px;
    }
   
    .play-button{
      padding: 6px 20px;
      margin-top: 10px;
      background-color: rgb(79, 79, 77);
      color: white;
      border-radius: 10px;
    }
  }
  
  .card-container:hover .card-image {
    transform: scale(1.1);
  }
  
  .card-container:hover .card-description {
    opacity: 1;
  }
  