*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('https://www.fg-a.com/backgrounds/black-planet-surface-1920.jpg');

}
header{
  margin: 20px 0;
  height: 10vh;
  background: #fff;
  display: flex;
  background-image: url('https://www.fg-a.com/backgrounds/black-planet-surface-1920.jpg');
  .logo{
    h1{
      color: white;
      font-style: normal;
    }
  }
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: #fff;

}
ul{
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
}
ul li a{
  text-decoration: none;
  color: #fff;
  margin: 0 0.5rem;
  font-size: 1.2rem;
}
ul li a:hover{
  transition: 0.2s ease-in-out ;
  color: rgb(133, 197, 6);
}
.mainContainer{
  height: 20vh;
  width: auto;
  margin: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  h1{
    color: white;
    font-size: 30px;
  }
}
.mainContainer img{
  height: 250px;
  width: 190px;
}
.cards{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container { 
  padding: 0 !important;
  margin:30px !important;

 }